* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos	{
	padding:5px 0;
	background-color:#05A2A5;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #05A2A5;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #05A2A5;
	color: #fff;
}
.active {
	background-color: #05A2A5;
	color: #fff;
}
.banner	{
	height: 60vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(  5, 162, 165, .3)
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
	border-radius: 10px;

}
section {
	padding: 50px 0;
}
section h2:hover {
	background-color: #05A2A5;
	color: #fff;
}
section h3 {
	text-align: center;
	color: #05A2A5;
	padding: 20px 0;
	margin-bottom: 20px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	text-align: center;
}
.cervice {
	background-color: #f9f9f9;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box {
	color: #05A2A5;
}
.box .col-4 {
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 40px;
	margin:0 auto;
}
.icon h6 {
	font-size: 10px;
}
.box .col-4 h6 {
	margin: 0px 0;
}
